
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 70%), url('<%= image_path 'meghan-holmes-1057329-unsplash.jpg' %>');">

  <h1>  </h1>

  <h2 class="subtitle"> Découvrir le concept </h2>
</div>
