.event{
  display: flex;
  position: relative;
  padding: 20px 10px;
  justify-content: space-around;
  width: 90%;
  margin: 10px auto;
  background: white;
margin-bottom: 10px;
}

.event a{
  text-decoration: none;
  color: #3accb3;
}

.event:hover{
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}


.date{
  color: #3accb3;
  font-family: Quicksand;
  font-weight: 700;
  margin-left: 5%;
  font-size: 25px;
}


.event-show{
  text-align: center;
  background: white;
  padding: 50px 50px;
  margin: 20px 100px;
}

.button-round{
border-radius: 50px;
border: solid 2px  #3accb3;
color:  #3accb3;
padding: 5px 10px;
text-decoration: none;
z-index: 500;
}

.button-round:hover{
  opacity: 0.6;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
